* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
.main{
    background-color: rgb(104, 179, 230);
}
.navbar{
    box-shadow: 0rem 0.1rem 0.4rem rgb(47, 47, 47);
}
.company_logo{
    width:6rem; 
    height:2.7rem;
}
a.nav-link{
    color:black;
    font-size: 17px;
    font-weight: 500;
}
.house{
    color:black;
}
.nav-link:hover {
    border: 1px solid white;
    color: white;
}
.cart{
    margin-right:2rem;
}
.main-ul{
    margin-left:1rem;
}

.qdigi {
    margin-top: 2rem;
    margin-right:2rem;
    margin-bottom:2rem;
    margin-left:3rem;
    border: 2px solid rgb(230, 230, 230);
    box-shadow: 0.15rem 0.18rem 0.6rem rgb(52, 52, 52);
}
.head-1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500; 
    font-size:38px; 
    margin-top: 2rem;
    margin-left: 2rem;
    text-shadow:1px 1px rgb(164, 164, 164)

}
.head-2{
    font-weight: 500; 
    font-size:30px; 
    margin-bottom: 2rem;
}
.line-input {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    width: 60%;
    transition: border-color 0.15s ease-in-out;
}
.line-input:focus {
    outline: none;
    border-color: #007bff;
}
.line-input.invalid {
    border-color: red;
}
.form{
    margin-bottom: 2rem;
}
.form-label{
    padding-top: 0.5rem;
}
.register{
    margin-left:1rem;
    color:white;
    font-weight:650;
    background-color: #8133b6;
    width:7rem;
}
button{
    box-shadow: 0.15rem 0.18rem 0.2rem rgb(52, 52, 52);
}
button:hover {
    background-color: #0056b3;
    transform: translateY(-0.5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}